.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, rgb(241, 140, 74) 0%, rgb(225, 100, 50) 50%, rgb(200, 60, 20) 100%);
    color: white;
    padding: 20px 0;
  }
  
  
  .footer img {
    max-width: 120px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  